@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

[class^="social-btn-"]::before,
[class*=" social-btn-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */



 /* начало стилизации */
body
{
    font-family: 'PTSans', 'Tahoma', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    margin: 0;

    text-transform: uppercase;

    color: #333;
}

img
{
    max-width: 100%;
    height: auto;
    margin: 0 auto;

    vertical-align: bottom;
}

.container
{
    min-width: 768px;
    max-width: 1200px;
    margin: 0 auto;
}

.content-text
{
    display: inline-block;

    vertical-align: top;
}

.btn
{
    display: block;
    vertical-align: top;
    padding: 1.5px 11px;
    background-color: #81b3d2;
    color: #fff;
    font-size: 14px;
    font-weight: 700;

}

.btn-color {

  background-color: #766357;
}

.btn:hover {
  background-color: #669ec0;
}

.btn-color:hover {
  background-color: #604e43;
}

.btn:active {
  background-color: #5496bd;
  color: #94b9d2;
}

.btn-color:active {
  background-color: #503e33;
  color: #928a85;
}

.nav-list
{
    font-size: 0;

    margin: 0;
    padding: 0;

    list-style: none;
}

.nav-item
{
    display: inline-block;

    width: 20%;
    padding: 15px 0;

    text-align: center;
    vertical-align: top;
}

.nav-item:nth-child(2)
{
    margin-right: 20%;
}

.nav-link
{
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;

    text-decoration: none;

    color: #000;
}

.logo-header
{
    position: absolute;
    left: 50%;

    margin-left: -69px;
}

.clearfix:after
{
    display: table;
    clear: both;

    content: '';
}

.column
{
    float: left;

    width: 33.33%;
    margin: 0;
    /* outline: 1px solid black; */
}

.column-double
{
    float: left;

    width: 66.66%;
    margin: 0;
    /* outline: 3px  solid yellow; */
}

.inner-column-left
{
    float: left;

    width: 135px;
    margin-right: 20px;
    /* outline: 3px solid green; */
}

.inner-column-right
{
    float: right;

    width: 110px;
    min-height: 5px;
    /*  outline: 1px solid red; */
}

.inner-column-center
{
    margin-right: 135px;
    margin-left: 165px;
    /* outline: 4px solid orange; */
}

.content-block
{
    margin-bottom: 1px;
    padding: 30px 6%;

    background-color: #fefefe;
}

.sorting
{
    margin-bottom: 1px;
    padding: 30px 6%;

    background-color: #fefefe;
}

.inner-main
{
    background-color: #e5e5e5;
}

.shadow
{
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

h1,
h2,
p
{
    margin: 0;
    padding: 0;
}

.promo
{
    width: 600px;
    margin: 0 auto;
    padding-top: 60px;
}

.promo-title
{
    font-size: 21px;
    line-height: 26px;

    text-align: center;

    color: #000;
}

.promo p
{
    margin-top: 35px;
    margin-bottom: 55px;

    text-align: center;
}

.description
{
    background-color: #eee;
}

.description-color
{
    background-color: #81b3d2;
}

.description-color .description-block
{
    color: #fff;
}
.description-color .description-title
{
    color: #fff;
}
.intro-title
{
    font-size: 24px;
    font-weight: 700;
}

.img-content
{
    overflow: hidden;

    height: 255px;
}
.description-block
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 3% 4%;
    /* только такой паддинг дал необходимый результат */

    text-align: center;
}

.description-title
{
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    margin-bottom: 25px;
}

h2
{
    color: #000;
}

p
{
    margin-top: 25px;
}

.recommendations
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 3%;
    padding-top: 6%;
    padding-bottom: 5%;

    text-align: center;
}

.search
{
    position: relative;
}

.search-intro
{
    padding-top: 55px;

    text-align: center;
}



.search-btn
{
    font-size: 21px;
    font-weight: 700;

    display: block;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 568px;
    height: 86px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 30px 0;

    text-decoration: none;

    color: #fff;
    background-color: #766357;
}
.main-footer
{
    position: relative;

}
.map-interactive
{
    position: relative;

    width: 100%;
    height: 595px;

    background-image: url('../img/map.png');
}

.content-footer
{
    position: absolute;
    bottom: 0;

    width: 100%;

    background-color: rgba(255, 255, 255, 0.9);
}

.footer-contacts {
  text-align: center;
  padding: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.footer-contacts a {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;

  text-decoration: none;
  color: #000000;

}

.footer-social {
  text-align: center;
  padding-top: 35px;

}

.footer-social a {
 font-size: 0;
}

.social-btn {
  display: inline-block;
  vertical-align: top;
  width: 46px;
  height: 46px;
  background: #81b3d2;
  margin-right: 5px;
  text-decoration: none;
}

.social-btn-twit::before {
  content: "\74";
  display: inline-block;
  vertical-align: middle;
  font-size: 21px;
  color: #fff;
  margin-top: 13px;

}

.social-btn-fb::before {
  content: "\66";
  display: inline-block;
  vertical-align: middle;
  font-size: 21px;
  color: #fff;
  margin-top: 13px;

}

.social-btn-yt::before {
  content: "\f39e";
  display: inline-block;
  vertical-align: middle;
  font-size: 21px;
  color: #fff;
  margin-top: 13px;

}


.footer-copyright {
  text-align: center;
  padding: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* сетка для inner.html */

.content-filter
{
    padding: 0 6%;
    padding-top: 28px;
    background: url('../img/inner-background.jpg') no-repeat ;
}

.filter
{
    display: inline-block;

    vertical-align: top;
}

.content-main a
{
    text-decoration: none;
}

.content-main a h2:hover {
  color: #81b3d2;
}

.content-main a h2:active {
  color: #cacaca;
}


.content-main a h2
{
    margin-bottom: 8px;
}

.type-cost {
  display: inline-block;
  margin-bottom: 8px;
}

.sort-list
{
    display: inline-block;

    margin: 0;
    padding: 0;

    list-style: none;

    vertical-align: top;
}

.sort-item
{
    display: inline-block;

    vertical-align: top;
}

.recommedation-title
{
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    color: #000;
}

.intro
{
    height: 510px;
    margin-bottom: 0;

    background: url('../img/text-intro.png') no-repeat 50% 80px,
    url('../img/arrow.png') no-repeat 50% 100%,
    url('../img/intro-background.jpg') no-repeat 50% 10%;
}


.filter {
  border: none;
  margin-right: 110px;
  padding: 0;
  color: #fff;
}

.filter legend {
  font-size: 16px;
  font-weight: 700;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 25px;
}

.filter-item label {
  font-size:  14px;
  line-height:  21px;

}

input[type="checkbox"]{
  display: none;
}

input[type="checkbox"]+label{
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  margin-bottom: 20px;

}

input[type="checkbox"]+label::before {
  content: "\2610";
  display: inline-block;
  vertical-align: top;
  font-size: 26px;
  font-family: "symbols-sedona";
  margin-right: 15px;
}

input[type="checkbox"]:checked + label::before {
  content: "\2611"
}



.burger::before {
    content: " ";
    margin: 0 auto;
    margin-bottom: 30px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    width: 74px;
    height: 70px;
    background-position: -5px -5px;
}
.house::before {
    content: " ";
    margin: 0 auto;
    margin-bottom: 30px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    width: 75px;
    height: 72px;
    background-position: -89px -5px;
  }

.present::before {
    content: " ";
    margin: 0 auto;
    margin-bottom: 30px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    width: 64px;
    height: 76px;
    background-position: -5px -87px;
}

