body {
  font-family: "PTSans", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.title-content{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.description-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.recommedation-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

li.nav-item a {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

/* .container-intro {
  height: 400px;
  background: url("../img/text-intro.png") no-repeat 50% 30%,
  url("../img/intro-font.jpg") no-repeat 50% 10%;
} */


