body
{
    font-family: 'PTSans', 'Tahoma', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    margin: 0;

    text-transform: uppercase;

    color: #333;
}

img
{
    max-width: 100%;
    height: auto;
    margin: 0 auto;

    vertical-align: bottom;
}

.container
{
    min-width: 768px;
    max-width: 1200px;
    margin: 0 auto;
}

.row
{
    outline: 1px solid red;
}

.content-text
{
    display: inline-block;

    vertical-align: top;
}

.btn
{
    display: block;

    vertical-align: top;
}

.nav-list
{
    font-size: 0;

    margin: 0;
    padding: 0;

    list-style: none;
}

.nav-item
{
    display: inline-block;

    width: 20%;
    padding: 15px 0;

    text-align: center;
}

.nav-item:nth-child(2)
{
    margin-right: 20%;
}

.nav-link
{
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;

    text-decoration: none;

    color: #000;
}

.logo-header
{
    position: absolute;
    left: 50%;

    margin-left: -69px;
}





.clearfix:after
{
    display: table;
    clear: both;

    content: '';
}

.column
{
    float: left;

    width: 33.33%;
    margin: 0;

    outline: 1px solid black;
}

.column-double
{
    float: left;

    width: 66.66%;
    margin: 0;

    outline: 3px  solid yellow;
}

.inner-column-left
{
    float: left;

    width: 135px;
    margin-right: 20px;

    outline: 3px solid green;
}

.inner-column-right
{
    float: right;

    width: 125px;
    min-height: 5px;

    outline: 1px solid red;
}

.inner-column-center
{
    margin-right: 135px;
    margin-left: 165px;

    outline: 4px solid orange;
}

.result-content
{
    padding: 0 6%;
}



.shadow
{
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.promo
{
    width: 575px;
    margin: 0 auto;
}

.img-content
{
    overflow: hidden;

    height: 255px;
}
.description
{
    min-height: 255px;

    text-align: center;
}

.recommendations
{
    padding-top: 160px;

    text-align: center;
}

.search
{
    position: relative;
}

.search-intro
{
    text-align: center;
}

.search-content
{
    width: 568px;
    margin: 0 auto;

    background-color: orange;
}

.search-btn
{
    text-decoration: none;
}

.map-interactive
{
    position: relative;

    height: 470px;

    background-image: url('../img/map.png');
}


.index-footer
{
    position: absolute;
    bottom: 0;

    width: 100%;
}

/* сетка для inner.html */


.content-filter
{
    padding: 30px 70px;

    background: url('../img/inner-font.jpg') no-repeat ;
}

.filter
{
    display: inline-block;
}









.content-main
{
    /* background-color: green; */
}





.sort-list
{
    display: inline-block;

    margin: 0;
    padding: 0;

    list-style: none;
}

.sort-item
{
    display: inline-block;
}







.title-content
{
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    text-align: center;

    color: #000;
}


.description-title
{
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    color: #000;
}


.recommedation-title
{
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    color: #000;
}

.intro
{
    height: 510px;
    margin-bottom: 65px;

    background: url('../img/text-intro.png') no-repeat 50% 80px,
    url('../img/arrow.png') no-repeat 50% 100%,
    url('../img/intro-font.jpg') no-repeat 50% 10%;
}
